<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Thedotwriter_StoreConfigSubmenu::system_settings" title="Settings" translate="title" module="Thedotwriter_StoreConfigSubmenu" sortOrder="1" parent="Magento_Backend::system" resource="Magento_Config::config"/>
        <add id="Thedotwriter_StoreConfigSubmenu::system_settings_config" title="Configuration" translate="title" module="Thedotwriter_StoreConfigSubmenu" sortOrder="1" parent="Thedotwriter_StoreConfigSubmenu::system_settings" action="adminhtml/system_config" resource="Magento_Config::config"/>
    </menu>
</config>
